# UI
streamlit

# API Key
python-dotenv

# LLM
openai
langchain
langchain-experimental
langchain-community

tiktoken

# litellm
# open-interpereter

# Search
googlesearch-python

# LightRAG
lightrag-hku
nest-asyncio

# LangGraph
langgraph
langchain-openai
duckduckgo-search
